
<p>Set posts to visible here</p>
<div = "PostAcceptance">
</div>
<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each blog}}
			  	{{#unless this.accepted}}
				<div class="col-xs-9 text-center">
					<pre>{{this.id}}. {{this.blog_title}}
					</pre>
					</div>
					<div class="col-xs-3 text-center">
					<form class="button-size post-form">
						<input input type="hidden" class="post_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Post it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
			<div class="col-xs-6 text-center" class="task">
			  {{#each blog}}
			  	{{#if this.accepted}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.blog_title}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center enter_section">
			<form action="/posts/create" method="POST">
				<input type="text" class="form-control" name="post_title" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a blog you want to post Click the "Submit" button.</p>
		</div>
	</div>
</div>


<p>See questions asked here</p>
<div = "QuestionTrack">

</div>
